<div class="row">
	<div class="span1"></div>
	<div class="span4 hide_on_print box-wrapper dashboard_box">
		<h1>Upload CSV file</h1>
		<%= form_for :upload_file, :url => {:action => "upload_file"}, :html => { :multipart => true } do |f| %>
			<input type="button" id="upload_file_btn" onclick="getFile()" value="Select file" />
			<div id="file_name_placeholder"></div>
			<div style='height: 0px;width: 0px; overflow:hidden;'><input id="upload_file_the_file" type="file" value="upload" name="upload_file[the_file]" onchange="sub(this)"/></div>
			<%= f.submit "Upload" %>
		<% end %>
	</div>


	<div class="span2"></div>
	<div class="span4 hide_on_print box-wrapper dashboard_box">
		<h1>Preview infographic online</h1>
		<select name="year" class="year changeable_combo">
			<option name="Year" value="-1">Year</option>
			<% @years.each_with_index do |year, i| %>								
				<option name="<%=year.first%>" value="<%=year.first%>" ><%=year.first%></option>				
			<% end %>
		</select>
		<% @years.each_with_index do |year, i| %>
			<select name="month" class="month_<%=year.first%> hideabable_combo changeable_combo" style="<%='display:none;' if i > 0 %>">
				<option name="Month" value="-1">Month</option>
				<% year.second.each do |month| %>
					<option name="<%=month%>" value="<%=month%>"><%=month%></option>
				<% end %>
			</select>
		<% end %><br /><br /><br /><br /><br />
		<input type="button" onclick="get_image();" value="Preview" />
	</div>
	<div class="span1"></div>
</div>
<script>
	$(document).ready(function(){
		$(".changeable_combo").change(function(){

			if($(this).hasClass("year")){
				var year = $(this).val();
				$('.hideabable_combo').hide();
				$('.month_' + year).show();
				__year = year;
			}else{
				__month = $(this).val();
			}
		});
	});
	__year = '';
	__month = '';
	function get_image(){
		file_name = __year + '-' + __month;
		$.ajax({
			type : 'GET',
			url : 'http://54.218.15.104/invoke_rasterization?file_name=' + file_name,
			dataType: 'jsonp',
			success : function(){
				window.open('http://54.218.15.104/images/infographs/' + file_name + '.png');
			},
			error : function(data){
				window.open('http://54.218.15.104/images/infographs/' + file_name + '.png');
			}
		});
	}
	function getFile(){
	   document.getElementById("upload_file_the_file").click();
	 }
	 function sub(obj){
	    var file = obj.value;
	    var fileName = file.split("\\");
	    document.getElementById("file_name_placeholder").innerHTML = fileName[fileName.length-1];
	  }
</script>