<script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['', ''],
          <% if @monthly[:i_jan].to_i > 0 %>
          	['Jan',  <%=@monthly[:i_jan]%>],
          <% end %>
          <% if @monthly[:i_feb].to_i > 0 %>
          	['Feb',  <%=@monthly[:i_feb]%>],
          <% end %>	
          <% if @monthly[:i_mar].to_i > 0 %>
          	['Mar',  <%=@monthly[:i_mar]%>],
          <% end %>
          <% if @monthly[:i_apr].to_i > 0 %>
          	['Apr',  <%=@monthly[:i_apr]%>],
          <% end %>
          <% if @monthly[:i_may].to_i > 0 %>
          	['May',  <%=@monthly[:i_may]%>],
          <% end %>
          <% if @monthly[:i_june].to_i > 0 %>
          	['Jun',  <%=@monthly[:i_june]%>],
          <% end %>
          <% if @monthly[:i_july].to_i > 0 %>
          	['Jul',  <%=@monthly[:i_july]%>],
          <% end %>
          <% if @monthly[:i_aug].to_i > 0 %>
          	['Aug',  <%=@monthly[:i_aug]%>],
          <% end %>
          <% if @monthly[:i_sep].to_i > 0 %>
          	['Sep',  <%=@monthly[:i_sep]%>],
          <% end %>
          <% if @monthly[:i_oct].to_i > 0 %>
          	['Oct',  <%=@monthly[:i_oct]%>],
          <% end %>
          <% if @monthly[:i_nov].to_i > 0 %>
          	['Nov',  <%=@monthly[:i_nov]%>],
          <% end %>
          <% if @monthly[:i_dec].to_i > 0 %>
          	['Dec',  <%=@monthly[:i_dec]%>]
          <% end %>
        ]);

        var options = {
          title: '',
          backgroundColor: 'transparent',
          colors: ['#556161'],
          legend: {position: 'none'},
          vAxis: { gridlines: {color: 'transparent'}, textStyle: {color: '#829c9b'}},
          hAxis: { minorGridlines: {count: 10, color: '#000'}, textStyle: {color: '#829c9b'}, allowContainerBoundaryTextCufoff: true},
          chartArea:{left:130,top:0,width:"83%",height:"65%"},
          fontSize: 34,
          fontName: 'gothamultraregular',
          isStacked: true
        };

        var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
    <style type="text/css">
    	.since_month{
    		width: 960px;
    		float: left;
    		margin-left: 212px;
    	}
    	.since_month .title{
    		font-size: 56px;
    		color: #829c9b;
    		border-bottom: 8px solid #829c9b;
    	}
    	.clocklike{
    		font-size: 360px;
    	}
    	.clocklike .crimes, .clocklike .responses, .clocklike .divider{float: left;}
    	.clocklike .divider{margin-top: -30px;}
    	.since_month .description{color:#546060;font-size: 47px;}
    </style>
<div class="infographic_wrapper">
	<div class="header">
		<div class="green_line"></div>
		<div class="title gotham-ultra font-black">HATE MONITOR</div>
		<div class="green_line"></div>
		<div class="clear"></div>
		<div class="month gotham-ultra font-green"><%="#{@month.upcase} #{@year}"%></div>
	</div>
	<div class="clear"></div>
	<div class="description gotham-book">
		Hate-motivated incidents are often violent manifestations of intolerance which instil fear and divide communities. Tackling underlying prejudice is essential in combating the spread of these divisive actions. The OSCE Mission to BiH supports the work of government institutions, the criminal justice system, local authorities and civil society to effectively respond to these incidents. The Hate Monitor provides a monthly update on incidents and responses throughout BiH.
	</div>
	<div class="clear"></div>
	<div class="incidents_responses">
		<div class="incidents">
			<div class="header gotham-book">
				HATE INCIDENTS
			</div>
			<div class="full_width"><img src="images/black_d_arrow.png" /></div>
			<div class="clear"></div>
			<div class="number_placeholder gotham-black"><%=@total_incidents%></div>
			<div class="description">
				<span class="full_width gotham-bold">B I A S  &nbsp;&nbsp;&nbsp;&nbsp;M O T I V A T E D</span><br />
				<span class="incidents gotham-ultra">INCIDENTS</span><br />
				<span class="full_width gotham-bold">T &nbsp;H &nbsp;I &nbsp;S  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;M &nbsp;O &nbsp;N &nbsp;T &nbsp;H</span>
			</div>
		</div>
		<div class="responses">
			<div class="header gotham-book">
				RESPONSES
			</div>
			<div class="full_width"><img src="images/green_d_arrow.png" /></div>
			<div class="clear"></div>
			<div class="number_placeholder gotham-black font-green-light"><%=@total_responses%></div>
			<div class="description">
				<span class="responses gotham-ultra">RESPONSES</span><br />
				<span class="full_width gotham-bold">T &nbsp;H &nbsp;I &nbsp;S  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;M &nbsp;O &nbsp;N &nbsp;T &nbsp;H</span>
				<div class="full_width gotham-ultra number_of_incidents">TO <span class="font-green-light"><%=@responses_to_incidents%></span> INCIDENTS</div><br />
			</div>
		</div>
	</div>
	<div class="clear"></div>
	<div class="monthly_statistics">
		<div id="chart_div" style="width: 1010px; height: 380px;margin-left:-50px;"></div>
		<div class="victim_characteristics">
			<div class="title gotham-light">
				V I C T I M &nbsp;&nbsp;C H A R A C T E R I S T I C S
			</div>
			<div class="clear"></div>
			<div class="first" style="width:<%=@vc[:first].first.last%>%;"></div>
			<div class="second" style="width:<%=@vc[:second].first.last%>%;"></div>
			<div class="third" style="width:<%=@vc[:third].first.last%>%;"></div>
			<div class="fourth" style="width:<%=@vc[:others]%>%;"></div>

			<div class="first_lbl gotham-ultra" style="width:<%=@vc[:first].first.last%>%;"><%=@vc[:first].first.first.html_safe%></div>
			<div class="second_lbl gotham-ultra" style="width:<%=@vc[:second].first.last%>%;"><%=@vc[:second].first.first.html_safe%></div>
			<div class="third_lbl gotham-ultra" style="width:<%=@vc[:third].first.last%>%;"><%=@vc[:third].first.first.html_safe%></div>
			<div class="fourth_lbl gotham-ultra" style="width:<%=@vc[:others]%>%;">other</div>
		</div>
	</div>
	<div class="since_month">
		<div class="title gotham-black">SINCE <%=@since_month.upcase%> <%=@since_year.upcase%></div>
		<div class="clocklike gotham-thin">
			<div class="crimes">
				<%=@since_incidents%>				
			</div>
			<div class="divider">:</div>
			<div class="responses">
				<%=@since_responses%>				
			</div>			
		</div>
		<div style="width:472px;float:left;margin-left:20px;"><span class="description gotham-bold">hate incidents</span></div>
		<div style="margin-left:40px;float:left"><span class="description gotham-bold">hate incidents<br />with at least<br />one response</span></div>
	</div>
</div>
