<script src="javascripts/jquery-2.0.3.min.js"></script>
<link rel="stylesheet" type="text/css" href="stylesheets/main.css">
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['', ''],
          <% if @monthly[:i_jan].to_i > 0 %>
          	['JAN',  <%=@monthly[:i_jan]%>],
          <% end %>
          <% if @monthly[:i_feb].to_i > 0 %>
          	['FEB',  <%=@monthly[:i_feb]%>],
          <% end %>	
          <% if @monthly[:i_mar].to_i > 0 %>
          	['MAR',  <%=@monthly[:i_mar]%>],
          <% end %>
          <% if @monthly[:i_apr].to_i > 0 %>
          	['APR',  <%=@monthly[:i_apr]%>],
          <% end %>
          <% if @monthly[:i_may].to_i > 0 %>
          	['MAY',  <%=@monthly[:i_may]%>],
          <% end %>
          <% if @monthly[:i_june].to_i > 0 %>
          	['JUN',  <%=@monthly[:i_june]%>],
          <% end %>
          <% if @monthly[:i_july].to_i > 0 %>
          	['JUL',  <%=@monthly[:i_july]%>],
          <% end %>
          <% if @monthly[:i_aug].to_i > 0 %>
          	['AUG',  <%=@monthly[:i_aug]%>],
          <% end %>
          <% if @monthly[:i_sep].to_i > 0 %>
          	['SEP',  <%=@monthly[:i_sep]%>],
          <% end %>
          <% if @monthly[:i_oct].to_i > 0 %>
          	['OCT',  <%=@monthly[:i_oct]%>],
          <% end %>
          <% if @monthly[:i_nov].to_i > 0 %>
          	['NOV',  <%=@monthly[:i_nov]%>],
          <% end %>
          <% if @monthly[:i_dec].to_i > 0 %>
          	['DEC',  <%=@monthly[:i_dec]%>]
          <% end %>
        ]);

        var options = {
          title: '',
          backgroundColor: 'transparent',
          colors: ['#556161'],
          legend: {position: 'none'},
          vAxis: { gridlines: {color: 'transparent'}, textStyle: {color: '#829c9b'}},
          hAxis: { minorGridlines: {count: 10, color: '#000'}, textStyle: {color: '#829c9b'}, allowContainerBoundaryTextCufoff: true,
                   slantedText: true, slantedTextAngle: 30},
          chartArea:{left:130,top:15,width:"83%",height:"70%"},
          fontSize: 34,
          fontName: 'gothamultraregular',
          isStacked: true
        };

        var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
<div class="infographic_wrapper">
	<div class="header">
		<div class="green_line"></div>
		<div class="title gotham-ultra font-black">HATE MONITOR</div>
		<div class="green_line"></div>
		<div class="clear"></div>
		<div class="month gotham-ultra font-green"><%="#{@month.upcase} #{@year}"%></div>
	</div>
	<div class="clear"></div>
	<div class="description gotham-book">
		Hate-motivated incidents are often violent manifestations of intolerance which instil fear and divide communities. Tackling underlying prejudice is essential in combating the spread of these divisive actions. The OSCE Mission to BiH supports the work of government institutions, the criminal justice system, local authorities and civil society to effectively respond to these incidents. The Hate Monitor provides a monthly update on incidents and responses throughout BiH.
		<%=I18n.t("hello")%>
	</div>
	<div class="clear"></div>
	<div class="incidents_responses">
		<div class="incidents">
			<div class="header gotham-book">
				HATE INCIDENTS
			</div>
			<div class="full_width"><img src="images/black_d_arrow.png" /></div>
			<div class="clear"></div>
			<div class="number_placeholder gotham-black"><%=@total_incidents%></div>
			<div class="description">
				<span class="full_width gotham-bold">B I A S  &nbsp;&nbsp;&nbsp;&nbsp;M O T I V A T E D</span><br />
				<span class="incidents gotham-ultra">INCIDENTS</span><br />
				<span class="full_width gotham-bold">T &nbsp;H &nbsp;I &nbsp;S  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;M &nbsp;O &nbsp;N &nbsp;T &nbsp;H</span>
			</div>
		</div>
		<div class="responses">
			<div class="header gotham-book">
				RESPONSES
			</div>
			<div class="full_width"><img src="images/green_d_arrow.png" /></div>
			<div class="clear"></div>
			<div class="number_placeholder gotham-black font-green-light"><%=@total_responses%></div>
			<div class="description">
				<% if Integer(@total_responses) == 1 %>
				<span class="responses gotham-ultra">RESPONSE&nbsp;&nbsp;&nbsp;&nbsp;</span><br />
				<span class="full_width gotham-bold">T &nbsp;H &nbsp;I &nbsp;S  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;M &nbsp;O &nbsp;N &nbsp;T &nbsp;H</span>
				<% else %>
				<span class="responses gotham-ultra">RESPONSES</span><br />
				<span class="full_width gotham-bold">T &nbsp;H &nbsp;I &nbsp;S  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;M &nbsp;O &nbsp;N &nbsp;T &nbsp;H</span>
				<% end %>				
				<div class="full_width gotham-ultra number_of_incidents">TO <span class="font-green-light"><%=@responses_to_incidents%></span> INCIDENTS</div><br />
			</div>
		</div>
	</div>
	<div class="clear"></div>
	<div class="monthly_statistics">
		<div id="chart_div" style="width: 1010px; height: 390px;margin-left:-50px;"></div>
		<div class="victim_characteristics" style="margin-top: 20px">
			<div class="title gotham-light">
				V I C T I M &nbsp;&nbsp;C H A R A C T E R I S T I C S
			</div>
			<div class="clear"></div>
			<div class="first gotham-light"><div style="margin-left:5px;"><%=@vc[:first].first.last%> %</div></div>
			<div class="second gotham-light"><div style="margin-left:5px;"><%=@vc[:second].first.last%> %</div></div>
			<div class="third gotham-light"><div style="margin-left:5px;"><%=@vc[:third].first.last%> %</div></div>

			<div class="first_lbl gotham-ultra"><%=@vc[:first].first.first.html_safe%></div>
			<div class="second_lbl gotham-ultra" ><%=@vc[:second].first.first.html_safe%></div>
			<div class="third_lbl gotham-ultra" ><%=@vc[:third].first.first.html_safe%></div>
		</div>
	</div>
	<div class="since_month">
		<div class="title gotham-black">SINCE <%=@since_month.upcase%> <%=@since_year.upcase%></div>
		<div class="clocklike gotham-thin">
			<div class="crimes">
				<%=@since_incidents%>				
			</div>
			<div class="divider">:</div>
			<div class="responses">
				<%=@since_responses%>				
			</div>			
		</div>
		<div style="width:472px;float:left;margin-left:55px;"><span class="description gotham-bold">hate incidents</span></div>
		<div style="margin-left:40px;float:left"><span class="description gotham-bold">hate incidents<br />with at least<br />one response</span></div>
	</div>
	<div class="clear"></div>
	<div class="incidents_lists">
		<div class="incidents">
			<div class="title gotham-bold">
				TYPES OF INCIDENTS
			</div>
			<div class="lists">
				<ul id="incidents">
					<li>
						<img src="images/incidents.png" /><span class="gotham-light font-88"><%=@incidents[:i_physical_violence]%></span><br />
						<span class="gotham-medium description" >Physical<br />violence</span>
					</li>
					<li>
						<img src="images/incidents.png" /><span class="gotham-light font-88"><%=@incidents[:i_property_damage]%></span><br />
						<span class="gotham-medium description" >Property<br />damage</span>
					</li>
					<li >
						<img src="images/incidents.png" /><span class="gotham-light font-88"><%=@incidents[:i_offensive_graffiti]%></span><br />
						<span class="gotham-medium description" >Offensive graffiti</span>
					</li>
					<li style="height:170px;">
						<img src="images/incidents.png" /><span class="gotham-light font-88"><%=@incidents[:i_damage_religious_facilities_desecration_of_graveyards]%></span><br />
						<span style="width:270px;" class="gotham-medium description" >Damage to religious<br />facilities / Desecration <br />of graveyards</span>
					</li>
					<li>
						<img src="images/incidents.png" /><span class="gotham-light font-88"><%=@incidents[:i_verbal_assault]%></span><br />
						<span class="gotham-medium description" >Verbal<br />assault</span>
					</li>				
					<li>
						<img src="images/incidents.png" /><span class="gotham-light font-88"><%=@incidents[:i_public_hate_speech]%></span><br />
						<span class="gotham-medium description" >Public hate<br />speech</span>
					</li>
					<li>
						<img src="images/incidents.png" /><span class="gotham-light font-88"><%=@incidents[:i_displaying_symbols]%></span><br />
						<span class="gotham-medium description" >Displaying<br />symbols</span>
					</li>
					<li style="height:195px;">
						<img src="images/incidents.png" /><span class="gotham-light font-88"><%=@incidents[:i_insulting_phone_internet_sms_messages]%></span><br />
						<span class="gotham-medium description" style="width:270px;">Insulting phone,<br /> Internet and <br />sms messages</span>
					</li>
					<li>
						<img src="images/incidents.png" /><span class="gotham-light font-88"><%=@incidents[:i_other]%></span><br />
						<span class="gotham-medium description" >Other</span>
					</li>
					<li class="gotham-book" style="width:680px;font-size:23px;margin-left:-66px;padding-top:45px;height:85px;">Incidents can consist of several acts.<br />
					A single incident may be reported under multiple categories.</li>
				</ul>
			</div>
		</div>

		<div class="responses">
			<div class="title gotham-bold">
				TYPES OF RESPONSES
			</div>
			<div class="lists">
				<ul id="responses">
					<li>
						<img src="images/response.png" /><span class="gotham-light font-88">
							<%=@responses[:r_public_condemnation_officials]%>
						</span><br />
						<span class="gotham-medium description" >Public Condemnation<br />by Officials</span>
					</li>
					<li >
						<img src="images/response.png" /><span class="gotham-light font-88"><%=@responses[:r_public_condemnation_religious_leaders]%></span><br />
						<span class="gotham-medium description" >Public Condemnation<br />by Religious Leaders</span>
					</li>
					<li >
						<img src="images/response.png" /><span class="gotham-light font-88"><%=@responses[:r_public_condemnation_civil_society]%></span><br />
						<span class="gotham-medium description" >Public Condemnation<br />by Civil Society</span>
					</li>
					<li >
						<img src="images/response.png" /><span class="gotham-light font-88"><%=@responses[:r_repairing_damaged_property_graffiti_removal_clean_up_action]%></span><br />
						<span class="gotham-medium description" >Repairing damaged<br /> property/Graffiti<br />removal/Cleanup action</span>
					</li>
					<li>
						<img src="images/response.png" /><span class="gotham-light font-88"><%=@responses[:r_peaceful_gathering_march]%></span><br />
						<span class="gotham-medium description" >Peaceful gathering /<br />March</span>
					</li>
					<li>
						<img src="images/response.png" /><span class="gotham-light font-88"><%=@responses[:r_other]%></span><br />
						<span class="gotham-medium description" >Other</span>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="clear"></div>
	<div class="map_wrapper">
		<div class="map <%='hide_map' unless @render_map%>">
			<div class="title gotham-bold">INCIDENTS AND RESPONSES THIS MONTH</div>
			<div class="cities">
				<ul id="cities">
					<% @graphical_cities.each_with_index do |city, i|%>						
						<li class="gotham-light"><%=city[:key]%>&nbsp;&nbsp;<span class="gotham-bold"><%=city[:responses]%></span></li>	
						<% if i >10 && @render_map%>
							<% break %>
						<% else %>
							<div class="clear"></div>
						<% end %>
					<% end %>
				</ul>								
			</div>
			<div class="map_position">
				<% if @render_map %>
					<% @graphical_cities.each do |gcity| %>
						<%p gcity%>
						<div class="<%=gcity[:key]%> incident graphical gotham-light"><%=gcity[:incidents]%></div>
						<div class="<%=gcity[:key]%> response graphical gotham-light"><%=gcity[:responses]%></div>
					<% end %>
				<% end %>
			</div>
		</div>
		<div class="highlits">
			<div class="highlight_box_wrapper">
				<div class="hl_left"></div>
				<div class="highlight_box">
					<div class="title gotham-light">Highlighted Actions</div>
					<div class="clear"></div>
					<div class="highlighted_txt gotham-bold"><%=@highlighted.html_safe%></div>
				</div>
				<div class="hl_right"></div>
			</div>
			<div class="clear"></div>
			<div class="hate_cases">
				<div class="title gotham-bold">
					H&nbsp;A&nbsp;T&nbsp;E &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; C&nbsp;R&nbsp;I&nbsp;M&nbsp;E&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; C&nbsp;A&nbsp;S&nbsp;E&nbsp;S
				</div>
				<div class="clear"></div>
				<div class="gotham-light li">
					<div class="txt">Trials Ongoing</div>
					<% if Integer(@cases_ongoing) < 9 %>
					<div class="dots">...........................................................................</div>
					<% else %>
					<div class="dots">.............................................................</div>
					<% end %>
					<div class="value"><%=@cases_ongoing%></div>
				</div>
				<div class="gotham-light li">
					<div class="txt">Convictions in <%=@year%></div>
					<% if Integer(@convictions) < 9 %>
					<div class="dots">............................................................................</div>
					<% else %>
					<div class="dots">.................................................................</div>
					<% end %>
					<div class="value"><%=@convictions%></div>
				</div>
				<div class="gotham-light li">
					<div class="txt">Acquittals in <%=@year%></div>
					<% if Integer(@acquittals) < 9 %>
					<div class="dots">.....................................................................</div>
					<% else %>
					<div class="dots">.................................................................</div>
					<% end %>
					<div class="value"><%=@acquittals%></div>
				</div>
			</div>
		</div>
		<div class="preventions_wrapper">
			<div class="preventions gotham-blackitalic">
				P R E V E N T I O N
			</div>
			<div class="lists">
				<div class="first width gotham-light"><%=@prevention[:p_local_coalitions_preventive_actions]%></div>
				<div class="second width gotham-light"><%=@prevention[:p_working_groups_response]%></div>
				<div class="third width gotham-light"><%=@prevention[:p_municipalities_adopted_strategies]%></div>
				<div class="clear"></div>
				<div class="width lbl gotham-light">local coalitions<br /> preventive actions</div>
				<div class="width lbl gotham-light">working group<br />response</div>
				<div class="width lbl gotham-light" style="width:312px;">municipalities adopted<br />strategies</div>
			</div>
		</div>
	</div>
	<div class="clear"></div>
	<div class="monitor_provides gotham-bold">The Hate Monitor provides an update on all hate-motivated incidents and responses known to the OSCE Mission to BiH at the time of publishing the report each month.</div>
</div>
<div class="clear"></div>
<div class="parser_footer">
	<img src="images/osce_footer_logo.png" />
</div>
