<script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['', ''],
          ['',  <%=@monthly[:i_jan]%>],
          ['',  <%=@monthly[:i_feb]%>],
          ['',  <%=@monthly[:i_mar]%>],
          ['',  <%=@monthly[:i_apr]%>],
          ['',  <%=@monthly[:i_may]%>],
          ['',  <%=@monthly[:i_june]%>],
          ['',  <%=@monthly[:i_july]%>],
          ['',  <%=@monthly[:i_aug]%>],
          ['',  <%=@monthly[:i_sep]%>],
          ['',  <%=@monthly[:i_oct]%>],
          ['',  <%=@monthly[:i_nov]%>],
          ['',  <%=@monthly[:i_dec]%>]
        ]);

        var options = {
          title: '',
          backgroundColor: 'transparent',
          colors: ['#556161'],
          legend: null
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
<div class="infographic_wrapper">
	<div class="header">
		<div class="green_line"></div>
		<div class="title gotham-ultra font-black">HATE MONITOR</div>
		<div class="green_line"></div>
		<div class="clear"></div>
		<div class="month gotham-ultra font-green"><%="#{@month.upcase} #{@year}"%></div>
	</div>
	<div class="clear"></div>
	<div class="description gotham-book">
		Hate-motivated incidents are often violent manifestations of intolerance which instil fear and divide communities. Tackling underlying prejudice is essential in combating the spread of these divisive actions. The OSCE Mission to BiH supports the work of government institutions, the criminal justice system, local authorities and civil society to effectively respond to these incidents. The Hate Monitor provides a monthly update on incidents and responses throughout BiH.
	</div>
	<div class="clear"></div>
	<div class="incidents_responses">
		<div class="incidents">
			<div class="header gotham-book">
				HATE INCIDENTS
			</div>
			<div class="full_width"><img src="images/black_d_arrow.png" /></div>
			<div class="clear"></div>
			<div class="number_placeholder gotham-black"><%=@total_incidents%></div>
			<div class="description">
				<span class="full_width gotham-bold">B I A S  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;M O T I V A T E D</span><br />
				<span class="incidents gotham-ultra">INCIDENTS</span><br />
				<span class="full_width gotham-bold">T &nbsp;&nbsp;H &nbsp;&nbsp;I &nbsp;&nbsp;S  &nbsp;&nbsp;&nbsp;&nbsp;M &nbsp;&nbsp;O &nbsp;&nbsp;N &nbsp;&nbsp;T &nbsp;&nbsp;H</span>
			</div>
		</div>
		<div class="responses">
			<div class="header gotham-book">
				RESPONSES
			</div>
			<div class="full_width"><img src="images/green_d_arrow.png" /></div>
			<div class="clear"></div>
			<div class="number_placeholder gotham-black font-green-light"><%=@total_responses%></div>
			<div class="description">
				<span class="responses gotham-ultra">RESPONSES</span><br />
				<span class="full_width gotham-bold">T &nbsp;&nbsp;H &nbsp;&nbsp;I &nbsp;&nbsp;S  &nbsp;&nbsp;&nbsp;&nbsp;M &nbsp;&nbsp;O &nbsp;&nbsp;N &nbsp;&nbsp;T &nbsp;&nbsp;H</span>
				<div class="full_width gotham-ultra number_of_incidents">TO <span class="font-green-light"><%=@responses_to_incidents%></span> &nbsp;INCIDENTS</div><br />
			</div>
		</div>
	</div>
	<div class="clear"></div>
	<div class="monthly_statistics">
		<div id="chart_div" style="width: 960px; height: 500px;"></div>
	</div>
</div>
