<script src="javascripts/jquery-2.0.3.min.js"></script>
<% if I18n.locale == :bs %>
	<% puts "aa : #{I18n.locale}" %>
	<link rel="stylesheet" type="text/css" href="stylesheets/main_bs.css">
<% else %>
	<link rel="stylesheet" type="text/css" href="stylesheets/main.css">
<% end %>
<link rel="stylesheet" type="text/css" href="stylesheets/cities.css">
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['', ''],
          <% if @monthly[:i_jan].to_i > 0 %>
          	['JAN',  <%=@monthly[:i_jan]%>],
          <% end %>
          <% if @monthly[:i_feb].to_i > 0 %>
          	['FEB',  <%=@monthly[:i_feb]%>],
          <% end %>	
          <% if @monthly[:i_mar].to_i > 0 %>
          	['MAR',  <%=@monthly[:i_mar]%>],
          <% end %>
          <% if @monthly[:i_apr].to_i > 0 %>
          	['APR',  <%=@monthly[:i_apr]%>],
          <% end %>
          <% if @monthly[:i_may].to_i > 0 %>
          	['MAY',  <%=@monthly[:i_may]%>],
          <% end %>
          <% if @monthly[:i_june].to_i > 0 %>
          	['JUN',  <%=@monthly[:i_june]%>],
          <% end %>
          <% if @monthly[:i_july].to_i > 0 %>
          	['JUL',  <%=@monthly[:i_july]%>],
          <% end %>
          <% if @monthly[:i_aug].to_i > 0 %>
          	['AUG',  <%=@monthly[:i_aug]%>],
          <% end %>
          <% if @monthly[:i_sep].to_i > 0 %>
          	['SEP',  <%=@monthly[:i_sep]%>],
          <% end %>
          <% if @monthly[:i_oct].to_i > 0 %>
          	['OCT',  <%=@monthly[:i_oct]%>],
          <% end %>
          <% if @monthly[:i_nov].to_i > 0 %>
          	['NOV',  <%=@monthly[:i_nov]%>],
          <% end %>
          <% if @monthly[:i_dec].to_i > 0 %>
          	['DEC',  <%=@monthly[:i_dec]%>]
          <% end %>
        ]);

        var options = {
          title: '',
          backgroundColor: 'transparent',
          colors: ['#556161'],
          legend: {position: 'none'},
          vAxis: { gridlines: {color: 'transparent'}, textStyle: {color: '#262626'}},
          hAxis: { minorGridlines: {count: 10, color: '#000'}, textStyle: {color: '#262626'}, allowContainerBoundaryTextCufoff: true,
                   slantedText: true, slantedTextAngle: 30},
          chartArea:{left:130,top:15,width:"83%",height:"70%"},
          fontSize: 34,
          fontName: 'gothamultraregular',
          isStacked: true,
          tooltip: { isHtml: true}
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
<div class="infographic_wrapper">
	<div class="header">
		<div class="green_line"></div>
		<div class="title gotham-ultra font-black"><%=I18n.t('hate_monitor')%></div>
		<div class="green_line"></div>
		<div class="clear"></div>
		<div class="month gotham-ultra font-green">			
			<%=I18n.t("month.#{@month}").upcase%>&nbsp;<%="#{@year}"%>
		</div>
	</div>
	<div class="clear"></div>
	<div class="description gotham-book">
		<%=I18n.t('description')%>		
	</div>
	<div class="clear"></div>
	<div class="incidents_responses">
		<div class="incidents">
			<div class="header gotham-book">
				<%=I18n.t('hate_incidents')%>
			</div>
			<div class="full_width"><img src="images/black_d_arrow.png" /></div>
			<div class="clear"></div>
			<div class="description">
				<span class="full_width gotham-bold">
					<% if I18n.locale == :bs %>&nbsp;
					<%=I18n.t('incidents_description1')%>&nbsp;&nbsp;
					<%=I18n.t('incidents_description2')%>&nbsp;&nbsp;
					<%=I18n.t('incidents_description3')%>
					<% end %>
					<% if I18n.locale == :en %>
					<%=I18n.t('incidents_description1')%>
					<% end %>
				</span><br />
				<span class="incidents gotham-ultra">
					<%=I18n.t('incidents_description4')%>		
				</span><br />
				<span class="full_width gotham-bold"><% if I18n.locale == :en %>
					T &nbsp;H &nbsp;I &nbsp;S  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;M &nbsp;O &nbsp;N &nbsp;T &nbsp;H</span><% end %>
					<% if I18n.locale == :bs %>
					&nbsp;&nbsp;U &nbsp;&nbsp;O&nbsp; V&nbsp; O&nbsp; M&nbsp;&nbsp;&nbsp; M&nbsp; J&nbsp; E&nbsp; S&nbsp; E&nbsp; C&nbsp; U
					<% end %>
			</div>
			<div class="number_placeholder gotham-black"><%=@total_incidents%></div>
		</div>
		<div class="responses">
			<div class="header gotham-book">
				<%=I18n.t('hate_responses')%>
			</div>
			<div class="full_width"><img src="images/green_d_arrow.png" /></div>
			<div class="clear"></div>
			<div class="description">
				<% if I18n.locale == :en %>
				<% if Integer(@total_responses) == 1 %>
				<span class="responses gotham-ultra">RESPONSE&nbsp;&nbsp;&nbsp;&nbsp;</span><br />				
				<% else %>
				<span class="responses gotham-ultra">RESPONSES</span><br />							
				<% end %>				
				<div class="full_width gotham-bold" style="font-size: 30px;">&nbsp;T O&nbsp;&nbsp;&nbsp;H A T E&nbsp;&nbsp;&nbsp;I N C I D E N T S</div>
				<span class="full_width gotham-ultra number_of_incidents">THIS&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;MONTH</span>
				<% end %>
				<% if I18n.locale == :bs %>
				<span class="responses gotham-ultra">REAKCIJE</span><br />
				<span class="full_width gotham-bold" style="font-size: 25px;margin-right: -10px;"><br />N A&nbsp;&nbsp;I N C I D E N T E&nbsp;&nbsp;P O Č I NJ E N E</span><br />
				<span class="full_width gotham-bold" style="font-size: 25px;">I Z&nbsp;&nbsp;M R Ž NJ E&nbsp;&nbsp;U</span>
				<span class="full_width gotham-ultra number_of_incidents">OVOM&nbsp;MJESECU</span>	
				<% end %>

			</div>
			<div class="number_placeholder gotham-black font-green-light"><%=@total_responses%></div>			
		</div>
	</div>
	<div class="clear"></div>
	<div class="incidents_lists2">
		<div class="incidents">
			<div class="title gotham-bold">
				<%=I18n.t('type_incidents')%>
			</div>
			<div class="lists">
				<ul id="incidents">
					<li>
						<img src="images/incidents.png" /><span class="gotham-light font-88"><%=@incidents[:i_physical_violence]%></span><br />
						<span class="gotham-medium description" >
							<%=I18n.t('i_physical_violence1')%><br />
							<%=I18n.t('i_physical_violence2')%>
						</span>
					</li>
					<li>
						<img src="images/incidents.png" /><span class="gotham-light font-88"><%=@incidents[:i_property_damage]%></span><br />
						<span class="gotham-medium description" >
							<%=I18n.t('i_property_damage1')%><br />
							<%=I18n.t('i_property_damage2')%>
						</span>
					</li>
					<li >
						<img src="images/incidents.png" /><span class="gotham-light font-88"><%=@incidents[:i_offensive_graffiti]%></span><br />
						<span class="gotham-medium description" ><%=I18n.t('i_offensive_graffiti')%></span>
					</li>
					<li style="height:170px;">
						<img src="images/incidents.png" /><span class="gotham-light font-88"><%=@incidents[:i_damage_religious_facilities_desecration_of_graveyards]%></span><br />
						<span style="width:270px;" class="gotham-medium description" >
							<%=I18n.t('i_damage_religious_facilities_desecration_of_graveyards1')%><br />
							<%=I18n.t('i_damage_religious_facilities_desecration_of_graveyards2')%><br />
							<%=I18n.t('i_damage_religious_facilities_desecration_of_graveyards3')%>
						</span>
					</li>
					<li>
						<img src="images/incidents.png" /><span class="gotham-light font-88"><%=@incidents[:i_verbal_assault]%></span><br />
						<span class="gotham-medium description" >
							<%=I18n.t('i_verbal_assault1')%><br />
							<%=I18n.t('i_verbal_assault2')%>
						</span>
					</li>				
					<li>
						<img src="images/incidents.png" /><span class="gotham-light font-88"><%=@incidents[:i_hate_speech]%></span><br />
						<span class="gotham-medium description" >
							<%=I18n.t('i_hate_speech1')%><br />
							<%=I18n.t('i_hate_speech2')%>
						</span>
					</li>
					<li>
						<img src="images/incidents.png" /><span class="gotham-light font-88"><%=@incidents[:i_displaying_symbols]%></span><br />
						<span class="gotham-medium description" >
							<%=I18n.t('i_displaying_symbols1')%><br />
							<%=I18n.t('i_displaying_symbols2')%>
						</span>
					</li>
					<li style="height:195px;">
						<img src="images/incidents.png" /><span class="gotham-light font-88"><%=@incidents[:i_insulting_phone_internet_sms_messages]%></span><br />
						<span class="gotham-medium description" style="width:270px;">
							<%=I18n.t('i_insulting_phone_internet_sms_messages1')%><br />
							<%=I18n.t('i_insulting_phone_internet_sms_messages2')%><br />
							<%=I18n.t('i_insulting_phone_internet_sms_messages3')%>
						</span>
					</li>
					<li>
						<img src="images/incidents.png" /><span class="gotham-light font-88"><%=@incidents[:i_other]%></span><br />
						<span class="gotham-medium description" ><%=I18n.t('i_other')%></span>
					</li>
					<li class="gotham-bold incidents_info"><%=I18n.t('incidents_info1')%><br/>
						<%=I18n.t('incidents_info2')%><br/>
						</li>
				</ul>
			</div>
		</div>

		<div class="responses">
			<div class="title gotham-bold">
				<%=I18n.t('type_responses')%>
			</div>
			<div class="lists">
				<ul id="responses">
					<li>
						<img src="images/response.png" /><span class="gotham-light font-88">
							<%=@responses[:r_public_condemnation_officials]%>
						</span><br />
						<span class="gotham-medium description" ><%=I18n.t('r_public_condemnation_officials1')%><br /><%=I18n.t('r_public_condemnation_officials2')%></span>
					</li>
					<li >
						<img src="images/response.png" /><span class="gotham-light font-88"><%=@responses[:r_public_condemnation_religious_leaders]%></span><br />
						<span class="gotham-medium description" ><%=I18n.t('r_public_condemnation_religious_leaders1')%><br /><%=I18n.t('r_public_condemnation_religious_leaders2')%>
							<br /><%=I18n.t('r_public_condemnation_religious_leaders3')%>
						</span>
					</li>
					<li >
						<img src="images/response.png" /><span class="gotham-light font-88"><%=@responses[:r_public_condemnation_civil_society]%></span><br />
						<span class="gotham-medium description" >
							<%=I18n.t('r_public_condemnation_civil_society1')%><br /><%=I18n.t('r_public_condemnation_civil_society2')%>
						</span>
					</li>
					<li >
						<img src="images/response.png" /><span class="gotham-light font-88"><%=@responses[:r_repairing_damaged_property_graffiti_removal_clean_up_action]%></span><br />
						<span class="gotham-medium description" >
							<%=I18n.t('r_repairing_damaged_property_graffiti_removal_clean_up_action1')%><br /><%=I18n.t('r_repairing_damaged_property_graffiti_removal_clean_up_action2')%><br /><%=I18n.t('r_repairing_damaged_property_graffiti_removal_clean_up_action3')%>
						</span>
					</li>
					<li>
						<img src="images/response.png" /><span class="gotham-light font-88"><%=@responses[:r_peaceful_gathering_march]%></span><br />
						<span class="gotham-medium description" >
							<%=I18n.t('r_peaceful_gathering_march1')%><br /><%=I18n.t('r_peaceful_gathering_march2')%>
						</span>
					</li>
					<li>
						<img src="images/response.png" /><span class="gotham-light font-88"><%=@responses[:r_other]%></span><br />
						<span class="gotham-medium description" ><%=I18n.t('r_other')%></span>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="clear"></div>
	<div class="incidents_lists">
		<div class="monthly_statistics">
			<div class="victim_characteristics" style="margin-top: 20px">
				<div class="title gotham-light">
					<%=I18n.t('victim_chars1')%>
					&nbsp;&nbsp;
					<%=I18n.t('victim_chars2')%>
				</div>
				<div class="clear"></div>
				<div class="first gotham-light"><div style="margin-left:5px;"><%=@vc[:first].first.last%> %</div></div>
				<div class="second gotham-light"><div style="margin-left:5px;"><%=@vc[:second].first.last%> %</div></div>
				<div class="third gotham-light"><div style="margin-left:5px;"><%=@vc[:third].first.last%> %</div></div>

				<div class="first_lbl gotham-ultra"><%=@vc[:first].first.first.html_safe%></div>
				<div class="second_lbl gotham-ultra" ><%=@vc[:second].first.first.html_safe%></div>
				<div class="third_lbl gotham-ultra" ><%=@vc[:third].first.first.html_safe%></div>
			</div>
			<div class="clear"></div>
			<div class="gotham-bold" style="font-size:32px;margin-top:40px;border-bottom: 4px solid #262626;margin-right: 25px;">
				<%=I18n.t('graph_title')%>
				<%=I18n.t("since_month.#{@since_month}").upcase%> <%=@since_year%>:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #9dc4c5;font-size:36px;"><%=@since_incidents%></span></div>
			<div id="chart_div" style="width: 1010px; height: 390px;margin-left:-50px;float:left;margin-top:30px;"></div>
		</div>
		<div class="since_month">
			<div class="title gotham-black"><%=I18n.t('since')%>
				<%=I18n.t("since_month.#{@since_month}").upcase%>
				<%=@since_year.upcase%>:</div>
			<div class="clocklike gotham-thin">
				<div class="crimes">
					<%=@since_responses%>				
				</div>
				<div class="divider">:</div>
				<div class="responses">
					<%=@since_responses_one%>				
				</div>			
			</div>
			<div style="width:472px;float:left;margin-left:55px;"><span class="description gotham-bold">
				<%=I18n.t('since_responses')%>
			</span></div>
			<div class="since_at_least"><span class="description gotham-bold">
				<%=I18n.t('since_at_least_one_response1')%><br />
				<%=I18n.t('since_at_least_one_response2')%><br />
				<%=I18n.t('since_at_least_one_response3')%>
			</span></div>
		</div>
	</div>
	<div class="clear"></div>
	<div class="map_wrapper">
		<div class="map <%='hide_map' unless @render_map%>">
			<div class="title gotham-bold"><%=I18n.t('map_title')%></div>
			<div class="cities">
				<ul id="cities">
					<% @graphical_cities.each_with_index do |city, i|%>						
						<li class="gotham-bold"><%=city[:key]%>&nbsp;&nbsp;<span class="gotham-bold"><%=city[:responses]%></span></li>	
						<% if i >10 && @render_map%>
							<% break %>
						<% else %>
							<div class="clear"></div>
						<% end %>
					<% end %>
				</ul>								
			</div>
			<div class="map_position">
				<% if @render_map %>
					<% @graphical_cities.each do |gcity| %>
						<% if gcity[:incidents].to_i > 0 %>
							<div class="<%=gcity[:key]%> incident graphical gotham-light"><%=gcity[:incidents]%></div>
						<% end %>
						<% if gcity[:responses].to_i > 0 %>
							<div class="<%=gcity[:key]%> response graphical gotham-light"><%=gcity[:responses]%></div>
						<% end %>
					<% end %>
				<% end %>
			</div>
		</div>
		<div class="hate_cases">
			<div class="title gotham-bold">
				<%=I18n.t('cases_title1')%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<%=I18n.t('cases_title2')%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<%=I18n.t('cases_title3')%>					
			</div>
			<div class="clear"></div>
			<div class="gotham-light li">
				<div class="txt"><%=I18n.t('trials')%></div>
				<% if I18n.locale == :en %>
				<% if Integer(@cases_ongoing) < 9 %>
				<div class="dots">...........................................................................</div>
				<% else %>
				<div class="dots">.......................................................................</div>
				<% end %>
				<% end %>
				<% if I18n.locale == :bs %>
				<% if Integer(@cases_ongoing) < 9 %>
				<div class="dots">........................................................................</div>
				<% else %>
				<div class="dots">.....................................................................</div>
				<% end %>
				<% end %>				
				<div class="value"><%=@cases_ongoing%></div>
			</div>
			<div class="gotham-light li">
				<div class="txt"><%=I18n.t('convictions')%><%=@year%></div>
				<% if I18n.locale == :en %>
				<% if Integer(@convictions) < 9 %>
				<div class="dots">................................................................</div>
				<% else %>
				<div class="dots">.............................................................</div>
				<% end %>
				<% end %>
				<% if I18n.locale == :bs %>
				<% if Integer(@convictions) < 9 %>
				<div class="dots">...................................................</div>
				<% else %>
				<div class="dots">...............................................</div>
				<% end %>
				<% end %>
				<div class="value"><%=@convictions%></div>
			</div>
			<div class="gotham-light li">
				<div class="txt"><%=I18n.t('acquittals')%><%=@year%></div>
				<% if I18n.locale == :en %>
				<% if Integer(@acquittals) < 9 %>
				<div class="dots">.....................................................................</div>
				<% else %> 
				<div class="dots">.................................................................</div>
				<% end %>
				<% end %>
				<% if I18n.locale == :bs %>
				<% if Integer(@acquittals) < 9 %>
				<div class="dots">..............................................</div>
				<% else %>
				<div class="dots">..........................................</div>
				<% end %>
				<% end %>
				<div class="value"><%=@acquittals%></div>
			</div>
		</div>
		<div class="preventions_wrapper">
			<div class="preventions gotham-blackitalic">
				<%=I18n.t('prevention')%>
			</div>
			<div class="lists">
				<div class="first width gotham-light"><%=@actions_by_local%></div>
				<div class="second width gotham-light"><%=@strategies_by_local%></div>
				<div class="clear"></div>
				<div class="width lbl gotham-light"><%=I18n.t('prevention_actions1')%><br /><%=I18n.t('prevention_actions2')%></div>
				<div class="width lbl gotham-light"><%=I18n.t('prevention_strategies1')%><br /><%=I18n.t('prevention_strategies2')%></div>
			</div>
		</div>
		<div class="highlits">
			<div class="highlight_box_wrapper">				
				<div class="highlight_box">
					<div class="title gotham-light"><%=I18n.t('highligted')%></div>
					<div class="highlighted_txt gotham-bold"><%=@highlighted.html_safe%></div>
				</div>
			</div>
			<div class="clear"></div>			
		</div>
	</div>
	<div class="clear"></div>
	<div class="monitor_provides gotham-bold"><%=I18n.t('footer_info')%></div>
</div>
<div class="clear"></div>
<div class="parser_footer">
	<img src="images/osce_footer_logo.png" />
</div>
